# Environment Mode: development | production
NODE_ENV=development
NEXT_PUBLIC_NODE_ENV=development

# Next.js Frontend Port
PORT=3000

# Application URLs (Local & Hosted)
NEXT_PUBLIC_LOCAL_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_HOSTED_FRONTEND_URL=https://pramyan-assignment-hr-dashboard.vercel.app
NEXT_PUBLIC_LOCAL_BACKEND_URL=http://localhost:5001
NEXT_PUBLIC_HOSTED_BACKEND_URL=https://pramyan-assignment.onrender.com

# Active Backend API URL for Server-Side and Client Proxies
NEXT_PUBLIC_BACKEND_URL=http://localhost:5001

